<%= form_for(@shoot) do |f| %>
  <% if @shoot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shoot.errors.count, "error") %> prohibited this shoot from being saved:</h2>

      <ul>
      <% @shoot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :shoot_date %><br />
    <%= f.datetime_select :shoot_date %>
  </div>
  <div class="field">
    <%= f.label :shoot_description %><br />
    <%= f.text_area :shoot_description %>
  </div>
  <div class="field">
    <%= f.label :original_name %><br />
    <%= f.text_field :original_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
