<p id="notice"><%= notice %></p>

<p>
  <b>Fullsize:</b>
  <%= @photo.name %>
</p>

<p>
  <b>Shoot:</b>
  <%= @photo.shoot %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
